@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* common style */
*{
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    max-width: 1280px;
}
:root{
    --primary-orange-color: rgb(255, 144, 14);
    --primary-white-color: rgb(255, 255, 255);
    --primary-black-color: rgb(19, 19, 19);
    --secondary-black-color: rgb(66, 66, 66);
    --shade-black-color: rgb(114, 114, 114);
    --banner-bg-color: rgba(255, 144, 14, 0.1);
    --light-bg-color: rgb(255, 244, 231);
}
.title{
    font-size: 1.26rem; /* 20px */
    color: var(--primary-black-color);
}
.description{
    font-size: 0.688rem; /* 11px */
    padding: 16px 0 22px;
    color: var(--shade-black-color);
}
.subtitle{
    font-size: 0.875rem; /* 14px */
    color: var(--primary-black-color);
}
.btn{
    font-size: 0.875rem; /* 14px */
    font-weight: 600;
    color: var(--primary-white-color);
    background-color: var(--primary-orange-color);
    padding: 14px 17px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
section{
    margin: 57px 160px;
}













/* header section */
.header{
    padding: 30px 160px;
    background-color: var(--banner-bg-color);
}
.header nav{
    display: flex;
    justify-content: space-between;
}
.header nav .dropdown_btn{
    display: none;
    cursor: pointer;
}
.header nav ul{
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav ul li{
    list-style: none;
}
.header nav ul li a{
    text-decoration: none;
    color: var(--secondary-black-color);
    font-size: 0.813rem;
}

.header .banner .banner_container{
    width: 578px;
    text-align: center;
    margin: 70px auto 0;
}
.header .banner .banner_container .title{
    font-size: 2.688rem;
}
.header .banner img{
    width: 100%;
    margin-top: 34px;
}
/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}












/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}


